<section class="relative h-full min-h-[300px]">
  @if(store.loading()) {
  <app-skeleton-loader />
  }
  <mat-card class="h-full">
    <mat-card-header>
      <div class="mat-font-title-sm">Recent Event Log</div>
    </mat-card-header>
    <mat-card-content>
      <ul class="p-0 m-0 list-none">
        @for (event of store.visibleEvents().slice(0, 6); track event.id) {
        <li class="flex justify-between items-center p-3 border-b border-outline-variant">
          <div class="flex flex-row items-center">
            <span
              [class]="getStatusEventLogDot(event.type)"
              class="mr-2 w-2 h-2 rounded-full shrink-0"
              aria-hidden="true"
            ></span>
            <span class="mr-1.5 font-mono mat-font-body-sm mat-text-on-surface-variant">
              {{ event.timestamp | date : 'HH:mm:ss' }}
            </span>
            @if(event.severity){
            <span [class]="event.severity < '3' ? 'warning mat-text-primary' : 'mat-text-error'">
              - Severity {{ event.severity }}
            </span>
            }
          </div>
          <div
            class="px-2 py-1 text-center rounded-md min-w-22 mat-font-body-sm mat-border-subtle"
            [class]="getStatusEventLogChip(event.type)"
          >
            {{ event.type | titlecase }}
          </div>
        </li>
        }
      </ul>
    </mat-card-content>
  </mat-card>
</section>
