<div>
  <mat-card>
    <mat-card-header>
      <div class="mat-font-title-sm">Recent Event Log</div>
    </mat-card-header>
    <mat-card-content>
      <div>
        @for (event of store.visibleEvents().slice(0, 6); track event.id) {
        <div class="event-log">
          <div class="flex flex-row items-center">
            <span [class]="getStatusEventLogDot(event.type)" class="event-log-dot"></span>
            <span class="mat-font-body-sm mat-text-on-surface-variant event-log-timestamp">
              {{ event.timestamp | date : 'HH:mm:ss' }}
            </span>
            @if(event.severity){
            <span [class]="event.severity < '3' ? 'warning mat-text-primary' : 'mat-text-error'">
             - Severity {{ event.severity }}
            </span>
            }
          </div>
          <div
            class="px-2 py-1 text-center rounded-md min-w-22 mat-font-body-sm mat-border-subtle"
            [class]="getStatusEventLogChip(event.type)"
          >
            {{ event.type | titlecase }}
          </div>
        </div>
        }
      </div>
    </mat-card-content>
  </mat-card>
</div>
