<button
  type="button"
  matIconButton
  [matMenuTriggerFor]="themeMenu"
  [aria-label]="'Select theme. Current: ' + currentThemeOption().name"
>
  <mat-icon>palette</mat-icon>
</button>

<mat-menu #themeMenu="matMenu" xPosition="before">
  <mat-radio-group [value]="currentTheme()" (change)="onThemeChange($event.value)" class="flex flex-col">
    @for (theme of themes; track theme.id) {
      <mat-radio-button
        [value]="theme.id"
        class="w-full pe-3 hover:bg-(--mat-sys-surface-variant) cursor-pointer"
        [class.bg-(--mat-sys-surface-container-highest)]="currentTheme() === theme.id"
        [attr.aria-label]="theme.name"
        aria-checked="false"
        role="menuitemradio"
        (click)="handleRadioClick(theme.id)"
        (keydown)="handleRadioClick(theme.id)"
      >
        <span>{{ theme.name }} ({{ theme.variant | titlecase }})</span>
        <div class="theme-swatch">
          <div
            class="w-full h-full pointer-events-none"
            [style.background]="theme.primaryColor"
          ></div>
        </div>
      </mat-radio-button>
    }
  </mat-radio-group>
</mat-menu>

