@use '@angular/material' as mat;
@use 'mat-classes.scss' as mat-classes;

html {
  @include mat.system-classes();
  // Default theme (Azure Blue Light) - applied when no data attributes are set
  @include mat.theme(
    (
      color: mat.$azure-palette,
      typography: Roboto Flex,
      density: 0,
    )
  );

  // Orange Light
  &[data-palette='orange'][data-theme='light'] {
    @include mat.theme((color: mat.$orange-palette));
  }

  // Azure Light
  &[data-palette='azure'][data-theme='light'] {
    @include mat.theme((color: mat.$azure-palette));
  }

  // Magenta Dark
  &[data-palette='magenta'][data-theme='dark'] {
    @include mat.theme((color: mat.$magenta-palette));
  }

  // Cyan Dark
  &[data-palette='cyan'][data-theme='dark'] {
    @include mat.theme((color: mat.$cyan-palette));
  }
}

body {
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  font-family: Roboto Flex, 'Helvetica Neue', sans-serif;
  margin: 0;
}

.snackbar-success  {
  @include mat.snack-bar-overrides(
    (
      container-color: var(--mat-sys-primary),
    )
  );
}
.snackbar-error {
  @include mat.snack-bar-overrides(
    (
      container-color: var(--mat-sys-error),
    )
  );
}
.custom-scrollbar {
  &::-webkit-scrollbar {
    height: 8px !important;
    width: 8px !important;
  }
  &::-webkit-scrollbar-track {
    background: var(--color-secondary-container) !important;
    border-radius: 9999px !important;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--color-primary) !important;
    border-radius: 9999px !important;
  }
}
