@use '@angular/material' as mat;
@use './app/styles/mat-classes.scss' as mat-classes;

html {
  @include mat.system-classes();
  // Default theme (Azure Blue Light) - applied when no data attributes are set
  @include mat.theme(
    (
      color: mat.$azure-palette,
      typography: Roboto Flex,
      density: 0,
    )
  );

  // Orange Light
  &[data-palette='orange'][data-theme='light'] {
    @include mat.theme(
      (
        color: mat.$orange-palette,
        typography: Roboto Flex,
        density: 0,
      )
    );
  }

  // Azure Blue Light
  &[data-palette='azure-blue'][data-theme='light'] {
    @include mat.theme(
      (
        color: mat.$azure-palette,
        typography: Roboto Flex,
        density: 0,
      )
    );
  }

  // Magenta Violet Dark
  &[data-palette='magenta-violet'][data-theme='dark'] {
    @include mat.theme(
      (
        color: mat.$magenta-palette,
        typography: Roboto Flex,
        density: 0,
      )
    );
  }

  // Cyan Dark
  &[data-palette='cyan'][data-theme='dark'] {
    @include mat.theme(
      (
        color: mat.$cyan-palette,
        typography: Roboto Flex,
        density: 0,
      )
    );
  }
}

body {
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
}

// .dashboard-container {
//   background-color: var(--mat-sys-surface);
//   min-height: 100vh;
//   padding: 24px;
// }

html,
body {
  height: 100%;
}
