<section class="relative h-full">
  @if (store.loading()) {
  <app-skeleton-loader />
  }
  <article class="h-full">
    <mat-card class="h-full flex flex-col">
      <mat-card-header class="flex flex-wrap gap-4 justify-between items-center">
        <mat-card-title class="mat-text-primary">
          Hourly Event Distribution
        </mat-card-title>
        <mat-card-subtitle class="mat-text-secondary">
          Events aggregated by hour (Past 24h)
        </mat-card-subtitle>

        <div>
          <mat-chip-listbox
            [value]="store.filter()"
            (change)="onFilterChange($event.value)"
            aria-label="Filter events"
            class="filter-chip-set"
          >
            <mat-chip-option value="all">All Events</mat-chip-option>
            <mat-chip-option value="completed" class="success">Completed</mat-chip-option>
            <mat-chip-option value="pending" class="warning">Pending</mat-chip-option>
            <mat-chip-option value="anomaly" class="error">Anomalies</mat-chip-option>
          </mat-chip-listbox>
        </div>
      </mat-card-header>

      <mat-card-content>
        <div echarts [options]="chartOption()" class="w-full h-[650px]"></div>
      </mat-card-content>
    </mat-card>
  </article>
</section>
