<h1 matDialogTitle>Event Details</h1>
<mat-dialog-content>
  <div
    class="flex justify-between border-y border-outline-variant py-3 md:px-11 px-4 items-center *:flex *:flex-col *:items-center"
  >
    <div>
      <span class="mat-font-label-lg">Time Slot</span>
      <span class="mat-font-body-md">{{ data.timeSlot }}</span>
    </div>
    <div>
      <span class="mat-font-label-lg">Total Events</span>
      <span class="mat-font-body-md mat-text-primary">{{ data.events.length }}</span>
    </div>
    <div>
      <span class="mat-font-label-lg">Status</span>
      <span class="px-1 rounded-lg text-on-error bg-error mat-font-body-md">Critical</span>
    </div>
  </div>
  <div class="flex justify-between items-center px-6 py-4 md:px-12 bg-surface-container">
    <div class="mat-font-label-lg">Event Info</div>
    <div class="mat-font-label-lg">Severity</div>
  </div>
  <div class="max-h-[450px] overflow-y-auto custom-scrollbar">
    @for (event of data.events; track event.id) {
    <div
      class="flex items-center px-2 py-4 border-b md:px-6 border-outline-variant hover:bg-surface-container-high"
    >
      <!-- Left Side: Icon + Time + Subtext -->
      <div class="flex flex-1 gap-2 items-center">
        @if (event.type === 'anomaly' || event.type === 'pending' || event.type === 'completed') {
        <mat-icon class="status-icon" [class]="getSeverityIconClass(event.severity)">
          warning
        </mat-icon>
        }

        <div class="flex flex-col">
          <div>
            <span class="font-body-sm">{{ event.timestamp | date : 'MMM d, y, h:mm:ss a' }}</span>
          </div>
          <div class="mat-font-body-sm text-error">Critical issue reported</div>
        </div>
      </div>

      <!-- Right Side: Severity Badge -->
      <span class="px-2 rounded-lg" [class]="getSeverityColor(event.severity)">
        {{ getSeverityLabel(event.severity) }}
      </span>
    </div>
    } @empty {
    <div class="flex flex-col items-center">
      <mat-icon>inbox</mat-icon>
      <span>No events found for this time slot.</span>
    </div>
    }
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button matButton mat-dialog-close aria-label="Close dialog">Close</button>
</mat-dialog-actions>
